---
layout: page
title: Berlin 2017
permalink: /events/berlin2017/
event_date: 2017-10-31
event_date_string: October 31st and November 1st+2nd 2017
event_location: Berlin, Germany
event_summary: Three day follow-up workshop to Berlin 2016 and Athens 2015 to continue and grow the reproducible builds effort.
---

<div class="row">
  <div class="four columns">&nbsp;</div>
  <div class="eight columns text">
    <p>{{ page.event_date_string }}.</p>
    <p>{{ page.event_summary }}</p>
    <p>As a follow up to the two first reproducible builds workshops in
      <a href="{{ "/events/athens2015/" | prepend: site.baseurl }}">Athens 2015</a>,
      <a href="{{ "/events/berlin2016/" | prepend: site.baseurl }}">Berlin 2016</a>,
      the reproducible builds folks will meet again in Berlin.
    </p>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Goals</h2>
  </div>
  <div class="eight columns text">
    <p>
      The exact content of the meeting will be shaped by the participants, but
      here are the main goals:
    </p>
    <ul>
      <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
      <li>Improve collaboration both between and inside projects.</li>
      <li>Expand the scope and reach of reproducible builds to more projects.</li>
      <li>Work together and hack on solutions.</li>
      <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
      <li>Brainstorm designs on tools enabling end-users to get the most benefits from reproducible builds.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Participants</h2>
  </div>
  <div class="eight columns text">
    <p>
      Arch linux, Bazel, coreboot, CoyIM, Debian, EdgeBSD, F-Droid, GNU&nbsp;Guix, LEAP, LEDE, NetBSD, openSUSE, Qubes OS, repeatr.io, riot-os.org, subuser.org, Tails and Tor. (There were more but we were asked to only mention these.)
      <br />
    </p>
    <img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rws3_berlin_2017_small.png" | prepend: site.baseurl }}" alt="Reproducible Summit 3 in Berlin 2017" />
 </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Reports</h2>
  </div>
  <div class="eight columns text">
    <p>
    <ul>A number of reports have been published:
      <li>preliminary<a href="{{ "/events/berlin2017/ReproducibleSummitIIIEventDocumentation/" | prepend: site.baseurl }}"> Meeting report by Aspiration and complete minutes</a> (<a href="/files/ReproducibleSummitIIIEventDocumentation.pdf">PDF version</a> )</li>
      <li>Ludovic Courtès wrote <a href="https://www.gnu.org/software/guix/blog/2017/reproducible-builds-a-status-update/">report on the status of GNU Guix</a></li>
<!--
      <li>by <a href="https://gnu.org/software/guix/news/reproducible-build-summit-2nd-edition.html">Ludovic Courtès, John Darrington and Ricardo Wurmus from the GNU&nbsp;Guix project</a></li>
      <li>by <a href="https://garbas.si/2016/reproducible-builds-summit-in-berlin.html">Rok Garbas of NixOS</a></li>
      <li>by <a href="https://lists.macports.org/pipermail/macports-dev/2016-December/035052.html">Clemens Lang of MacPorts</a></li>
      <li>by <a href="https://sfconservancy.org/blog/2016/dec/26/reproducible-builds-summit-report">Brett Smith of Software Freedom Conservancy</a></li -->
    </ul>
    </p>
 </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Location</h2>
  </div>
  <div class="eight columns text">
    <p>
      <a href="https://www.betahaus.com/berlin/space/">Betahaus, Berlin, Germany</a>
    </p>
    <p><a href="https://www.google.com/maps/place/Prinzessinnenstra%C3%83%C5%B8e+19,+10969+Berlin,+Germany/">Prinzessinnenstrasse 19-20</a><br />
       10969, Kreuzberg, Berlin<br />
       Nearest U-Bahn (subway) stations: Moritzplatz (U8), then Kottbusser Tor (U1)<br />
    </p>
  </div>
</div>
<!-- div class="row">
  <div class="four columns title">
    <h2>Registration</h2>
  </div>
  <div class="eight columns text">
    <p>
    Registration is <b>mandatory</b> for attending this event. Please send a short email to <a href="mailto:rws3-registration@reproducible-builds.org">rws3-registration@reproducible-builds.org</a> and state that you want to attend, possibly shortly stating your involvement or other reasons why. 
    </p>
  </div>
</div -->
<div class="row">
  <div class="four columns title">
    <h3>Co-organized by</h3>
  </div>
  <div class="eight columns text">
    <a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | prepend: site.baseurl }}" alt="Aspiration" style="margin: 20px;"/></a>
    &amp;
    <a href="mailto:holger@layer-acht.org">Holger</a>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Sponsors</h2>
  </div>
  <div class="eight columns text">
    <p>
      <a href="https://www.fordfoundation.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/fordfoundation.png" | prepend: site.baseurl }}" alt="Ford Foundation" /></a>
      <br />
      <a href="https://www.coreinfrastructure.org/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/cii.png" | prepend: site.baseurl }}" alt="Core Infrastructure Initiative" /></a>
      <br />
      <a href="https://opensource.google.com/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/google.png" | prepend: site.baseurl }}" alt="Google Open Source Research" /></a>
      <br />
  <a href="https://www.debian.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/debian.png" | prepend: site.baseurl }}" alt="Debian" width="100"/></a>
      </p>
  </div>
</div>
